#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  min-height: 100vh;
  width: 100%;
}


.img img{
  rotate: 10deg;
  transition: all 0.5s ease;
}
.img img:hover{
  rotate: 0deg;
}

.c-img{
  height: 450px; 
  
}


.contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 600px){
  .contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .contain p{
    margin-left: 2rem;
  }
}
.contain h3{
  color: aqua; 
  background-color: #5d55a3;
  width: 5rem;
  border-radius: 5rem;
  padding: 1.5rem; 
  /* margin-left: 2.5rem; */
}
.contain h5{
  color: #8178ca;
}
.contain p{
  color: rgb(198, 203, 207);
}
.bd-0{
  background-color: rgb(3, 24, 51);
  width: 100%;
  padding: 2rem;
  /* border: #241e5f solid 6px;
  border-radius: 5px; */
}
.bd{
  background-color: rgb(3, 24, 51);
  width: 100%;
  padding: 2rem 20rem;  
  border-top: #241e5f solid 3px;
  /* border-radius: 5px; */
}

@media only screen and (max-width: 1200px){
  .bd{
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px){
  .bd{
    padding: 2rem;
  }
}
@media only screen and (max-width: 425px){
  .bd{
    padding: 2rem;
  }
}
.icon{
  margin-left: 2rem;
}
.icon:hover{
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}

footer{
  margin-top: 3rem;
}